@charset "UTF-8";
/* CSS Document */

body {
	background-color: #DCDCDE;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
body,td,th {
	font-size: 9px;
}
.Estilo1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height:16px;
	color: #757575;
}
a:link {
	color: #757575;
}
a:visited {
	color: #757575;
}
a:hover {
	color: #757575;
}
a:active {
	color: #757575;
}
	
#cajafotos{
	height:215px;
	width:850px;
	float:left;
	margin-top:15px;
	margin-left:10px;
}

